
section.get-started
    +container
        .get-started__content
            .get-started__big-img
                img(src='./images/ready_big_bg.svg')
            .get-started__small-img
                img(src='./images/ready_small_bg.svg')
            .get-started__body
                .get-started__title.
                    Ready to get started?
                .get-started__desc.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    It has been the industry's standard dummy text ever since.
                .get-started__footer
                    .get-started__footer-title.
                        Choose you option
                    .get-started__footer-buttons
                        button.get-started__button.get-started__button_outline.
                            Button
                        button.get-started__button.get-started__button_blue.
                            Button
