section.intro
    .intro__content
        .intro__middle
            .intro__img
                img(src='./images/intro_image.svg')
            .intro__info
                .intro__info-title.
                    Future creative agency
                .intro__info-desc.
                    Corporate social responsibility policymaker inclusion, resist; compassion mass incarceration correlation white paper.
                button.intro__info-btn.
                    button
        .intro__footer
            .intro__footer-text
                |Do you want to know more details?
            button.intro__footer-btn
                img(src='./images/icon_arrow.svg')