head
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap' rel='stylesheet')
    link(href='./styles.css' rel='stylesheet')

.main
    include ./sections/intro
    include ./sections/features
    include ./sections/get-started
